@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/css?family=Trirong);
@import url('https://fonts.cdnfonts.com/css/kaushan-script');

:root {
  --primary: #f39c12;
  --secodary: #fffde0;
  --three: #8A623F;
  --hover: #f39c12;
  --dark: #000000;
  --light: #ffffff
}

.box {
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#timer {
  font-size: 3em;
  font-weight: 100;
  color: var(--light);
  padding: 20px;
  color: var(--light);

}

#timer div {
  display: inline-block;
  max-width: 480px;
  padding: 8px;
  background: var(--three);
  opacity: 90%;
  border-radius: 5px;
  margin: 8px;
}

#timer div span {
  color: var(--light);
  display: block;
  margin-top: 15px;
  font-size: .35em;
  font-weight: 400;
}

.timer-heading {
  text-shadow: #fff3d7;
}

.bg-kd {
  background-color: var(--three);
}

.bg-kd-three {
  background-color: var(--three);
}

.fc-kd {
  color: var(--three);
}

.fc-kd-three {
  color: var(--three);
}

.jumbotron{
  height: 100vh;
}

#header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-wrapper {
  position: relative;
}

.footer-background{
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(10%);
  filter: grayscale(90%);
  -webkit-filter: brightness(10%);
  -webkit-filter: grayscale(90%);
  z-index: -1;
}
.footer-content {
  padding-top: 3em;
  padding-bottom: 6em;
}

#intro_couple {
  background-color: var(--secodary);
}

#galeri_video {
  background-color: var(--secodary);
}

#wallet {
  background-color: var(--secodary);
}

#ucapan_doa {
  background-color: var(--secodary);
}

#protokol_covid {
  background-repeat: no-repeat;
  background-position: right-top;
  background-size: 300px;
}


.kd-primary-text-dark {
  font-family: 'Kaushan Script';
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark);
}

.kd-primary-text-light {
  font-family: 'Kaushan Script';
  font-size: 2rem;
  font-weight: 600;
  color: var(--light);
}

.kd-primary-text-color {
  font-family: "Trirong", serif;
  font-weight: 600;
  color: var(--three);
}

.kd-secondary-text-dark {
  font-family: "Trirong", serif;
  font-size: 22pt;
  font-weight: 200;
  color: var(--dark);
}

.kd-secondary-text-light {
  font-family: "Trirong", serif;
  font-size: 30pt;
  font-weight: 200;
  color: var(--light);
}

.kd-secondary-text-color {
  font-family: "Trirong", serif;
  font-weight: 200;
  color: var(--three);
}

.kd-three-text-color {
  font-family: "Trirong", serif;
  font-weight: 200;
  color: var(--three);
}

.kd-primary-arabic-dark {
  font-family: 'Droid Arabic Kufi', serif;
  font-size: 22pt;
  font-weight: 200;
  color: var(--dark);
}

.kd-primary-arabic-light {
  font-family: 'Droid Arabic Kufi', serif;
  font-size: 22pt;
  font-weight: 200;
  color: var(--light);
}

.player-btn {
  position: fixed;
  visibility: visible;
  opacity: 0;
  right: 15px;
  bottom: 70px;
  z-index: 997;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.player-btn i {
  font-size: 24px;
  color: var(--light);
  line-height: 0;
  animation: rotation 5s infinite linear;
}

.player-btn:hover {
  background: var(--hover);;
  color: var(--light);;
}

.player-btn.active {
  visibility: visible;
  opacity: 1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

svg #wheel {
	animation: scroll ease 2s infinite;
}

.navmobile {
	width: 100%;
  max-width: 480px;
	background: var(--three);
  opacity: 85%;
	z-index: 999;
	left: 50%;
  transform: translate(-50%, 0);
	bottom: 0px;
	position: fixed;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-bottom: 15px;
}

.navmobile ul {
	padding: 0;
	margin: 0 auto;
	width: 480px;
	max-width: 100%;
}

.navmobile ul li {
	float: left;
	width: 16% !important;
	color: var(--light);
	text-align: center;
	list-style: none;
	font-size: 25px;
	line-height: 2em;
}

.navmobile ul li span {
	font-size: 14px;
	vertical-align: top;
	font-weight: bold;
}

.navmobile ul li a {
	color: var(--light);
	display: inline-block;
	width: 100%;
	text-decoration: none;
}

@media (max-width:576px) {
	.navmobile ul li span {
		display: none;
	}
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}